* {
  margin: 0px;
  padding: 0px;
  background-color: darkgray;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.face {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: yellow;
  width: 15em;
  height: 15em;
  border-radius: 15em;
}

.eyes-left {
  width: 3.5em;
  height: 3.5em;
  background-color: black;
  border-radius: 3em;
  margin-top: 3em;
  margin-right: .2em;
}

.eyes-right {
  width: 3.5em;
  height: 3.5em;
  background-color: black;
  border-radius: 3em;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .2em;
}

.mouth {
  background-color: yellow;
  border: red solid 2px;
  width: 6em;
  height: 6em;
  border-radius: 6em;
  margin-left: 3em;
  margin-right: 3em;
}

.oval {
  background-color: white;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
  /* margin: 1em 0em 0em 1.5em; */
}
